[submodule "self-driving-car-camera"]
	path = camera
	url = https://github.com/Panagiotis-INS/self-driving-car-camera.git
[submodule "crash-bot"]
	path = sonar
	url = https://git.sexycoders.org/SexyCoders/crash-bot
[submodule "iot_2021_hardware"]
	path = hardware
	url = https://github.com/BlackICE-Zed/iot_2021_hardware.git
[submodule "self-driving-car-interface"]
	path = app
	url = https://github.com/IakMastro/self-driving-car-interface
[submodule "self-driving-car-docs"]
	path = docs
	url = git@github.com:IakMastro/self-driving-car-docs.git
