[submodule "camera"]
	path = camera
	url = https://github.com/Panagiotis-INS/self-driving-car-camera.git
[submodule "sonar"]
	path = sonar
	url = https://git.sexycoders.org/SexyCoders/crash-bot
[submodule "hardware"]
	path = hardware
	url = https://github.com/BlackICE-Zed/iot_2021_hardware.git
[submodule "client"]
	path = client
	url = https://github.com/IakMastro/self-driving-car-interface
